.App {
  text-align: left;
  display: flex;
}
.issue-title {
  font-weight: bold;
  font-size: 20px;
}
.status {
  margin-left: 200px;
}
.select-status {
  background-color: #b8b2b2;
  width: 100px;
  height: 30px;
}